* {
  box-sizing: border-box;
  text-decoration: none;
}

:global .home {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

:global .home header {
  width: 100%;
  height: 80px;
  background: #001529;
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

:global .home .right {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:global .home .count {
  width: 100%;
  height: 100%;
  display: flex;
}

:global .home .count .count-left {
  width: 230px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: auto;
}

:global .home .count .count-left .el-collapse {
  width: 100%;
  height: 100%;
}

:global .home .count .count-right {
  width: 300px;
}

:global .navbar-active {
  width: 100%;
  height: 40px;
  background: blueviolet;
  display: block;
  color: #ffffff;
  line-height: 40px;
}

:global .el-col-8 {
  width: 260px;
}

:global .el-col-16 {
  width: 100% !important;
}

:global .el-row {
  width: 260px;
  height: 100%;
  background: #001529;
}

:global .el-menu {
  background: #001529 !important;
}

:global .el-submenu__title {
  color: #fff !important;
}

:global .el-menu-item, :global .el-submenu__title {
  color: #fff !important;
}

:global .el-menu-item a {
  color: #fff !important;
}

:global .el-menu-item:hover {
  background: #20a0ff !important;
}

:global .el-submenu__title:hover {
  background: #20a0ff !important;
}
