@charset "utf-8";
*{
    box-sizing: border-box;
    text-decoration: none;
}
:global{
.home {
    width: 100%;
    height: 100%;
    overflow: hidden;
    header {
        width: 100%;
        height: 80px;
        background: #001529;
        display: flex;
        color:#fff;
        justify-content: space-between;
        align-items: center;
        padding:0 40px;
    }
    .right {
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .count {
        width: 100%;
        height: 100%;
        display: flex;
        .count-left {
            width: 230px;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            overflow-y: auto;
            
            .el-collapse {
                width: 100%;
                height: 100%;
            }
        }
        .count-right{
            width: 300px
        }
    }
}

.navbar-active {
    width: 100%;
    height: 40px;
    background: blueviolet;
    display: block;
    color: #ffffff;
    line-height: 40px
}
.el-col-8 {
    width: 260px;
}

.el-col-16{
    width: 100%!important;
}
.el-row {
    width: 260px;
    height: 100%;
    background: #001529
}
.el-menu{
    background: #001529!important;
}
.el-submenu__title{
    color:#fff!important;
}
.el-menu-item, .el-submenu__title{
    color:#fff!important;
}
.el-menu-item a{
    color:#fff!important;

}
.el-menu-item:hover{
    background: #20a0ff!important
}
.el-submenu__title:hover{
    background: #20a0ff!important
}
}