:global .test {
  width: 1600px;
  height: 100%;
  margin: 0 30px 30px 30px;
  overflow-y: auto;
}

:global .test h1 {
  margin: 40px;
}

:global .test .bot {
  background: #ffffff;
}

:global .test .bot .el-input__inner {
  width: 70%;
  margin: 0 50px;
  display: block;
}

:global .test .bot .el-textarea__inner {
  width: 70%;
  height: 300px;
  margin: 0 50px;
  display: block;
}

:global .test .bot .el-input__icon {
  right: 50px;
}

:global .test .bot .el-button {
  margin: 50px;
}
